<h2>Second Form</h2>
<form [formGroup]="formGroup">

  <fieldset>
    <legend>Name</legend>
    <div [formGroupName]="AddressFormControls.Name">
      <div><label><span>First Name:</span><input type="text" [formControlName]="AddressFormControls.FirstName"></label></div>
      <div><label><span>Last Name:</span><input type="text" [formControlName]="AddressFormControls.LastName"></label></div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Address</legend>
    <div [formGroupName]="AddressFormControls.Address">
      <div><label>Street 1: <input type="text" [formControlName]="AddressFormControls.Street1"></label></div>
      <div><label>Street 2: <input type="text" [formControlName]="AddressFormControls.Street2"></label></div>
      <div><label>City: <input type="text" [formControlName]="AddressFormControls.City"></label></div>
      <div><label>State: <input type="text" [formControlName]="AddressFormControls.State"></label></div>
      <div><label>Zip: <input type="text" [formControlName]="AddressFormControls.Zip"></label></div>
    </div>
  </fieldset>
  <fieldset>
    <legend>Contact</legend>
    <label>Email: <input type="text" [formControlName]="AddressFormControls.Email"></label>
  </fieldset>

</form>

<div class="form-group">
  <div>form = {{formGroup.value | json}}</div>
</div>
